{% extends "orders/base.html" %}

{% block page_content %}
<ion-list>
    <ion-item>
        <ion-label position="stacked">Table</ion-label>
        <ion-input type="number" name="table_id"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Created By</ion-label>
        <ion-input type="text" name="created_by"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea name="notes"></ion-textarea>
    </ion-item>
</ion-list>

<ion-button expand="block" class="ion-margin">
    Create Order
</ion-button>
{% endblock %}
