{% extends "orders/base.html" %}

{% block page_content %}
<ion-list>
    <ion-list-header>
        <ion-label>Kitchen Display</ion-label>
    </ion-list-header>
    <ion-item>
        <ion-label>
            <h2>Auto Print Tickets</h2>
            <p>Print kitchen tickets automatically</p>
        </ion-label>
        <ion-toggle {% if config.auto_print_tickets %}checked{% endif %}></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>
            <h2>Show Prep Time</h2>
            <p>Display elapsed time on orders</p>
        </ion-label>
        <ion-toggle {% if config.show_prep_time %}checked{% endif %}></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>
            <h2>Alert Threshold</h2>
            <p>Minutes before flagging as delayed</p>
        </ion-label>
        <ion-input type="number" value="{{ config.alert_threshold_minutes }}"></ion-input>
    </ion-item>

    <ion-list-header>
        <ion-label>Order Behavior</ion-label>
    </ion-list-header>
    <ion-item>
        <ion-label>
            <h2>Use Rounds/Courses</h2>
            <p>Group items by course</p>
        </ion-label>
        <ion-toggle {% if config.use_rounds %}checked{% endif %}></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>
            <h2>Sound on New Order</h2>
            <p>Play notification sound</p>
        </ion-label>
        <ion-toggle {% if config.sound_on_new_order %}checked{% endif %}></ion-toggle>
    </ion-item>
</ion-list>
{% endblock %}
