{% extends "orders/base.html" %}

{% block page_content %}
<ion-list>
    <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" value="{{ station.name|default:'' }}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Color</ion-label>
        <ion-input type="color" value="{{ station.color|default:'#F97316' }}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Icon</ion-label>
        <ion-input type="text" value="{{ station.icon|default:'flame-outline' }}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Printer Name</ion-label>
        <ion-input type="text" value="{{ station.printer_name|default:'' }}"></ion-input>
    </ion-item>
</ion-list>

<ion-button expand="block" class="ion-margin">
    Save
</ion-button>
{% endblock %}
